.header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__text {
    color: #CC00FF;
}
